<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="add-record" method="POST">
        <label for="">Name</label> <br>
        <input type="text" name="textName" placeholder="input name" required><br>
        <label for="">Age</label><br>
        <input type="text" name="textAge" placeholder="input age" required><br>
        <label for="">Salary</label><br>
        <input type="text" name="textSalary" placeholder="input salary" required><br>
        
        <button type="submit"> submit </button>
    </form>

    <a href="/display">display</a>
    
</body>
</html>